<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/" 
                   [routerLinkActive]="['active']" 
                   [routerLinkActiveOptions]="{exact:true}">home</a>
            </li>
            <li>
                <a routerLink="/sobre" [routerLinkActive]="['active']">sobre</a>
            </li>
            <li>
                <a routerLink="/dashboard" [routerLinkActive]="['active']">dashboard</a>
            </li>
            <li>
                <a routerLink="/error" [routerLinkActive]="['active']">erro</a>
            </li>
        </ul>
    </nav>
</header>